.version.assignments /* version checker */
{
	color: #00000F;
	background-color: #B830EE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 4183.75px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -26px;
	margin-bottom: -709px;
	width: 0.01px;
}

#top
{
	margin-left: 469px;
	position: relative;
}

#menuu747
{
	z-index: 2;
	width: 920px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 28px;
	position: relative;
}

#u755
{
	width: 129px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u756
{
	width: 129px;
	background-color: #C4C4C4;
	padding-bottom: 25px;
	position: relative;
}

#u756:hover
{
	background-color: #999999;
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u759-4
{
	width: 129px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u756:hover #u759-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 129px;
	margin: 0px -10000px 0px 0px;
}

#u756:active #u759-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 129px;
	margin: 0px -10000px 0px 0px;
}

#u748
{
	width: 129px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 131px;
}

#u749
{
	width: 129px;
	background-color: #C4C4C4;
	padding-bottom: 25px;
	position: relative;
}

#u749:hover
{
	background-color: #999999;
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u756:active,#u749:active
{
	background-color: #6B6B6B;
	width: 129px;
	min-height: 0px;
	margin: 0px;
}

#u751-4
{
	width: 129px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u756.MuseMenuActive #u759-4,#u749:hover #u751-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 129px;
	margin: 0px -10000px 0px 0px;
}

#u749:active #u751-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 129px;
	margin: 0px -10000px 0px 0px;
}

#u749.MuseMenuActive #u751-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 129px;
	margin: 0px -10000px 0px 0px;
}

#u762
{
	width: 130px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 262px;
}

#u765
{
	width: 130px;
	background-color: #C4C4C4;
	padding-bottom: 25px;
	position: relative;
}

#u766-4
{
	width: 130px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 12px;
	left: 0px;
}

#u765:hover #u766-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u765:active #u766-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u765.MuseMenuActive #u766-4 p
{
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}

#u769
{
	width: 130px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 394px;
}

#u772
{
	width: 130px;
	background-color: #C4C4C4;
	padding-bottom: 25px;
	position: relative;
}

#u765.MuseMenuActive,#u772:hover
{
	background-color: #999999;
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u775-4
{
	width: 130px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u765.MuseMenuActive #u766-4,#u772:hover #u775-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u772:active #u775-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u1401
{
	width: 130px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 526px;
}

#u1404
{
	width: 130px;
	background-color: #C4C4C4;
	padding-bottom: 25px;
	position: relative;
}

#u1404:hover
{
	background-color: #999999;
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u1405-4
{
	width: 130px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u772.MuseMenuActive #u775-4,#u1404:hover #u1405-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u1404:active #u1405-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u776
{
	width: 130px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 658px;
}

#u779
{
	width: 130px;
	background-color: #C4C4C4;
	padding-bottom: 25px;
	position: relative;
}

#u779:hover
{
	background-color: #999999;
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u780-4
{
	width: 130px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u1404.MuseMenuActive #u1405-4,#u779:hover #u780-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u779:active #u780-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u783
{
	width: 130px;
	min-height: 42px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 790px;
}

#u786
{
	width: 130px;
	background-color: #C4C4C4;
	padding-bottom: 25px;
	position: relative;
}

#u786:hover
{
	background-color: #999999;
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u772:active,#u1404:active,#u779:active,#u786:active
{
	background-color: #6B6B6B;
	width: 130px;
	min-height: 0px;
	margin: 0px;
}

#u788-4
{
	width: 130px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 12px;
}

#u779.MuseMenuActive #u780-4,#u786:hover #u788-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u786:active #u788-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

#u786.MuseMenuActive #u788-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 130px;
	margin: 0px -10000px 0px 0px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#creative
{
	margin-left: 455px;
	margin-top: 10px;
	position: relative;
}

#u1657-4
{
	z-index: 46;
	display: block;
	vertical-align: top;
	margin-left: 212px;
	margin-top: 145px;
	position: relative;
}

#pu1757
{
	width: 0.01px;
	margin-left: -56px;
	margin-top: -281px;
}

#pu1757_position_content
{
	margin-top: -212px;
	padding-bottom: 333px;
}

#u1757
{
	z-index: 224;
	width: 23px;
	background-color: transparent;
	position: fixed;
	top: 310px;
	left: 108px;
}

#menuu1739
{
	z-index: 206;
	width: 151px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 332px;
	left: 44px;
}

#u1740
{
	width: 151px;
	min-height: 44px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1741
{
	width: 151px;
	background-color: transparent;
	padding-bottom: 10px;
	position: relative;
}

#u1741:hover
{
	background-color: #999999;
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u1741:active
{
	background-color: #6B6B6B;
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u1741.MuseMenuActive
{
	background-color: #999999;
	width: 151px;
	min-height: 0px;
	margin: 0px;
}

#u1743-6
{
	width: 151px;
	min-height: 34px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #7F7F7F;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 5px;
}

#u1741:hover #u1743-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u1741:active #u1743-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#u1741.MuseMenuActive #u1743-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 151px;
	margin: 0px -10000px 0px 0px;
}

#menuu1749
{
	z-index: 217;
	width: 109px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 376px;
	left: 65px;
}

#u1751
{
	width: 109px;
	background-color: transparent;
	position: relative;
}

#u1751:hover
{
	background-color: #999999;
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u1751:active
{
	background-color: #6B6B6B;
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u1752-4
{
	width: 109px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #7F7F7F;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1751:hover #u1752-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 109px;
	margin: 0px -10000px 0px 0px;
}

#u1751:active #u1752-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 109px;
	margin: 0px -10000px 0px 0px;
}

#menuu1806
{
	z-index: 229;
	width: 109px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 393px;
	left: 65px;
}

#u1750,#u1807
{
	width: 109px;
	min-height: 17px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1810
{
	width: 109px;
	background-color: transparent;
	position: relative;
}

#u1751.MuseMenuActive,#u1810:hover
{
	background-color: #999999;
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u1810:active
{
	background-color: #6B6B6B;
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u1810.MuseMenuActive
{
	background-color: #999999;
	width: 109px;
	min-height: 0px;
	margin: 0px;
}

#u1812-4
{
	width: 109px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #7F7F7F;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
}

#u1751.MuseMenuActive #u1752-4,#u1810:hover #u1812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 109px;
	margin: 0px -10000px 0px 0px;
}

#u1810:active #u1812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 109px;
	margin: 0px -10000px 0px 0px;
}

#u1810.MuseMenuActive #u1812-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 109px;
	margin: 0px -10000px 0px 0px;
}

#u1747
{
	z-index: 215;
	width: 24px;
	background-color: transparent;
	position: fixed;
	top: 411px;
	left: 107px;
}

#u1675
{
	z-index: 167;
	width: 535px;
	background-color: transparent;
	margin-left: 212px;
	margin-top: 20px;
	position: relative;
}

#u1675_clip
{
	overflow: hidden;
	width: 535px;
	height: 592px;
}

#u1675_img
{
	margin-bottom: -57px;
}

#u1708-5
{
	z-index: 193;
	display: block;
	vertical-align: top;
	margin-left: 410px;
	margin-top: 27px;
	position: relative;
}

#buttonu1695
{
	z-index: 173;
	width: 231px;
	border-color: #787878;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 9px;
	margin-left: 360px;
	margin-top: 296px;
	position: relative;
}

#buttonu1695:hover
{
	background-color: #545454;
	width: 231px;
	min-height: 0px;
	margin: 296px 0px 0px 360px;
}

#buttonu1695.ButtonSelected
{
	background-color: #FFFFFF;
	width: 231px;
	min-height: 0px;
	margin: 296px 0px 0px 360px;
}

#u1697
{
	z-index: 175;
	height: 23px;
	width: 119px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 68px;
	background: url("../images/u1697.png") no-repeat 0px 0px;
}

#buttonu1695:hover #u1697
{
	background: url("../images/u1697-r.png") no-repeat 0px 0px;
}

#u1696
{
	z-index: 177;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #00BAFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 51px;
}

#buttonu1695:hover #u1696
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#buttonu1699
{
	z-index: 178;
	width: 231px;
	border-color: #787878;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 9px;
	margin-left: 360px;
	margin-top: 19px;
	position: relative;
}

#buttonu1699:hover
{
	background-color: #545454;
	width: 231px;
	min-height: 0px;
	margin: 19px 0px 0px 360px;
}

#buttonu1699.ButtonSelected
{
	background-color: #FFFFFF;
	width: 231px;
	min-height: 0px;
	margin: 19px 0px 0px 360px;
}

#u1701
{
	z-index: 180;
	height: 23px;
	width: 119px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 68px;
	background: url("../images/u1701.png") no-repeat 0px 0px;
}

#buttonu1699:hover #u1701
{
	background: url("../images/u1701-r.png") no-repeat 0px 0px;
}

#u1700
{
	z-index: 182;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #00BAFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 51px;
}

#buttonu1699:hover #u1700
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#buttonu1702
{
	z-index: 183;
	width: 231px;
	border-color: #787878;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 9px;
	margin-left: 360px;
	margin-top: 20px;
	position: relative;
}

#buttonu1702:hover
{
	background-color: #545454;
	width: 231px;
	min-height: 0px;
	margin: 20px 0px 0px 360px;
}

#buttonu1702.ButtonSelected
{
	background-color: #FFFFFF;
	width: 231px;
	min-height: 0px;
	margin: 20px 0px 0px 360px;
}

#u1703
{
	z-index: 185;
	height: 23px;
	width: 119px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 68px;
	background: url("../images/u1703.png") no-repeat 0px 0px;
}

#buttonu1702:hover #u1703
{
	background: url("../images/u1703-r.png") no-repeat 0px 0px;
}

#u1704
{
	z-index: 187;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #00BAFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 51px;
}

#buttonu1702:hover #u1704
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u1655
{
	z-index: 45;
	width: 500px;
	min-height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 230px;
	margin-top: 19px;
	position: relative;
}

#user
{
	margin-left: 462px;
	margin-top: 66px;
	position: relative;
}

#u1686-4
{
	z-index: 169;
	display: block;
	vertical-align: top;
	margin-left: 216px;
	margin-top: 166px;
	position: relative;
}

#u1669
{
	z-index: 165;
	width: 527px;
	background-color: transparent;
	margin-left: 216px;
	margin-top: 82px;
	position: relative;
}

#buttonu1705
{
	z-index: 188;
	width: 231px;
	border-color: #787878;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding-bottom: 9px;
	margin-left: 365px;
	margin-top: 323px;
	position: relative;
}

#buttonu1705:hover
{
	background-color: #545454;
	width: 231px;
	min-height: 0px;
	margin: 323px 0px 0px 365px;
}

#buttonu1705.ButtonSelected
{
	background-color: #FFFFFF;
	width: 231px;
	min-height: 0px;
	margin: 323px 0px 0px 365px;
}

#u1707
{
	z-index: 190;
	height: 23px;
	width: 119px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 68px;
	background: url("../images/u1707.png") no-repeat 0px 0px;
}

#buttonu1705:hover #u1707
{
	background: url("../images/u1707-r.png") no-repeat 0px 0px;
}

#u1706
{
	z-index: 192;
	width: 18px;
	height: 17px;
	border-color: #000000;
	background-color: #00BAFF;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 51px;
}

#buttonu1705:hover #u1706
{
	background-color: #FFFFFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#buttonu1695.ButtonSelected #u1696,#buttonu1699.ButtonSelected #u1700,#buttonu1702.ButtonSelected #u1704,#buttonu1705.ButtonSelected #u1706
{
	background-color: #00BAFF;
	width: 18px;
	height: 17px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u1714-4
{
	z-index: 202;
	width: 531px;
	min-height: 28px;
	background-color: transparent;
	margin-left: 215px;
	top: -2094px;
	margin-bottom: -28px;
	position: relative;
}

#pu1658-115
{
	width: 0.01px;
	margin-left: 213px;
	margin-top: -1908px;
}

#u1658-115
{
	z-index: 50;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 4px;
}

#u1713-4
{
	z-index: 198;
	width: 531px;
	min-height: 28px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1535px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

